<!DOCTYPE html>
<html>
<head>
    <title>Якась форма</title>
</head>
<body>
    <h1>Форма введення даних</h1>
    <form action="/form" method="post">
        <label for="name">Ім'я:</label><br>
        <input type="text" id="name" name="name" required><br>
        <label for="email">Електронна пошта:</label><br>
        <input type="email" id="email" name="email" required><br>
        <label for="message">Повідомлення:</label><br>
        <textarea id="message" name="message"></textarea><br>
        <input type="submit" value="Відправити">
    </form>
</body>
</html>